{% extends 'userloggedin_nav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookBook Hub</title>
  </head>
  {% block content %} {% load static %}
  <body>
    <div class="container-fluid text-center rounded py">
      <div class="row">
        <div class="col-sm-2">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-ride="carousel"
          >
            <ol class="carousel-indicators">
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="0"
                class="active"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="1"
              ></li>
              <li
                data-target="#carouselExampleIndicators"
                data-slide-to="2"
              ></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="d-block"
                  src="https://i.postimg.cc/Y2dNFrjd/fresh-tomatoes-frame-with-copy-space.jpg"
                  alt="First slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block"
                  src="https://i.postimg.cc/fLwX3ps4/top-view-delicious-salad-ready-be-served.jpg"
                  alt="Second slide"
                />
              </div>
              <div class="carousel-item">
                <img
                  class="d-block"
                  src="https://i.postimg.cc/nrrD2mM0/italian-food-ingredients-wooden-board.jpg"
                  alt="Third slide"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col mt-1">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link text-color" href="{% url 'list_allrecipes_appetizers' %}"
                >Appetizer</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-color active"
                href="{% url 'list_allrecipes_maindish' %}"
                style="color: rgb(255, 83, 64)"
                ><b>Main Dish</b></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-color" href="{% url 'list_allrecipes_dessert' %}"
                >Dessert</a
              >
            </li>
          </ul>

    

           <div class="container my-4">
  {% for i in recipes %}
    {% if forloop.counter0|divisibleby:3 %}
      <div class="row card-deck">
    {% endif %}
      
    <div class="col-md-4">
      <div class="card cardstyle shadow hover ">
      <a href="{% url 'logincontinue' %}">
          <img class="card-img-top img-top " style="object-fit: cover;width: 100%;aspect-ratio: 16/9;object-fit: cover;"  src="{{ i.image.url }}" alt="" />
          <div class="card-body">
            <h5 class="card-title text-color">{{ i.recipe_name }}</h5>
                  <p class="card-text text-color">{{ i.user.first_name }} {{ i.user.last_name }} </p>
          </div>
          <!-- <div class="py-3">
           <a  class="btn loginButton text-light w-75" href="{% url 'logincontinue' %}">View</a>
          </div> -->
        </a>
      </div>
    </div>
    {% if forloop.counter|divisibleby:3 or forloop.last %}
      </div>
      <br><br>
    {% endif %}
   {% endfor %}
</div>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-3">
      <div class="col-sm-1 border-right">col-sm-</div>
     

      <div class="col-sm-11">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active text-color" href="#">Appetizer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color" href="#">Main Dish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color" href="#">Dessert</a>
          </li>
           <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> 
        </ul>
      </div>
    </div> -->
  </body>
  {% endblock %}
</html>
