{% extends 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookBook Hub</title>
  </head>
  <body>
    {% block content %}


<br><br>
    <div class="container shadow mt- py-3 w-25">
      <h2 class="text-color mb-3 text-center p-5">Password reset succesfully, now you can login </h2>
 <br>
 <div class="text-center">
  <button class="btn loginButton w-25 text-light"><a href="{% url 'loginPage' %}">Login</a></button>
 </div>
     
    </div>
    <br><br><br><br><br>
    {% endblock content %}
  </body>
</html>
