{% extends 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookBook Hub</title>
  </head>
  <body>
    {% block content %}


<br><br>
    <div class="container shadow mt- py-3 w-25">
      <h2 class="text-color mb-3 text-center p-5">Change Password</h2>
      <form action="" method="POST">
        {% csrf_token %}

        {{ form.as_p }}
    
        <div class="text-center">
          <button type="submit" class="btn loginButton text-light w-25">Submit</button>
        </div>
      
      </form>
      <br>
    </div>
    <br><br><br><br><br>
    {% endblock content %}
  </body>
</html>
