{% extends 'nav.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookBook Hub</title>
  </head>
  <body>
    {% block content %}
    <br><br><br><br><br><br>

    <div class="container shadow mt- py-3 p-4 text-color">
      <br><br>
      <p>The instructions for resetting your password has been sent to you via email.</p>
      <p>If you didn't recieve any email please make sure you have entered the correct email id or check for the email in your spam folder</p>
      <br><br>
    </div>
    <br><br><br><br><br><br><br>
    {% endblock content %}
  </body>
</html>
